// COLORS
$color-primary: #eb2f64;
$color-primary-lite: #ff3366;
$color-primary-dark: #ba265d;

$color-gray-dark-1: #333;
$color-gray-dark-2: #777;
$color-gray-dark-3: #999;

$color-gray-lite-1: #faf9f9;
$color-gray-lite-2: #f4f2f2;
$color-gray-lite-3: #f0eeee;
$color-gray-lite-4: #ccc;

$color-white: #fff;
$color-black: #000;

// FONTS
$font-size-primary: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical-small: 6rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
